COREL/OFFICE7/WPWIN7/LGCFILES/WP60MIN.DTD

<!-- Public document type declaration for minimal WordPerfect 6.X tabular
     material. To tag tables using the WP 6.X method, include this DTD
     subset in the DTD. -->

<!-- Add the following declaration and reference to the DTD:

     <!ENTITY % wp60min PUBLIC "-//COREL//DTD WP 6.0 Minimal Table Declarations//EN">
     %table;

     The external entity mapping file must contain an entry similar to the
     following:

     PUBLIC  "-//COREL//DTD WP 6.0 Minimal Table Declarations//EN"
     DTD     wp60min.dtd

     In this example, the DTD2LGCW utility would search for the file
     WP60MIN.DTD in one of the directories specified in the documentation.
     If the file is not in one of those directories, you must include the
     full pathname in the fourth field of the entity mapping entry (e.g.,
     C:\MYDTD\WP60MIN.DTD).
-->

<!ELEMENT table        - -    (row+) >

<!ATTLIST table     numcols      NUMBER          #REQUIRED
          -- Number of columns per row starting at 1 at the left cell.-->

<!ELEMENT row          - O    (cell+) >

<!ATTLIST row        header        (yes|no)       "no"
          -- Is this a header row. -->

<!ELEMENT cell         - O    (#PCDATA) >

<!ATTLIST cell       cspan         NUMBER         #IMPLIED
          -- The number of columns that are spanned by this cel1.
             (e.g. cspan="2" indicates that the cell spans two cells -
             itself and the cell adjacent to the right). --

                       rspan         NUMBER         #IMPLIED
          -- The number of rows that are spanned by this cel1.
             (e.g. rspan="2" indicates that the cell spans two rows -
             itself and the row below it). -->
